{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1 class="text-center">Modification du profil</h1>
    <main>
        {{ form(form) }}
    </main>
{% endblock %}
